@model DA.Models.ApprovalSetup

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ApprovalSetup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApprovalCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovalCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WithRequirements)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WithRequirements)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WithException)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WithException)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
